<h1>{{ title }}</h1>
<app-news-criteria></app-news-criteria>

<app-news-display></app-news-display>

<!-- <form [formGroup]="newsForm" (ngSubmit)="getNews()">
  <table>
    <tr>
      <td>Countries: </td>
      <td>
        <select name="country" id="country" formControlName="country">
          <option value="sg">Singapore</option>
          <option value="ca">Canada</option>
          <option value="rs">Serbia</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Countries: </td>
      <td>
        <select name="country" id="country"  formControlName="category">
          <option value="business">Business</option>
          <option value="entertainment">Entertainment</option>
          <option value="general">General</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="newsForm.invalid">
          Get News
        </button>
      </td>
    </tr>
  </table>
</form> -->
